﻿@model UserReservation.Models.reserve

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>reserve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.check_in_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_in_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_out_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_out_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_Guests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_Guests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_rooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_rooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credit_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credit_card)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_on_credit_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_on_credit_card)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credit_card_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credit_card_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expiration_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiration_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
